name: build-on-push

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  checks: write
  pull-requests: write
  contents: write
  packages: write
  issues: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Pull docker images
        run: |
          docker pull postgres:16-alpine

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v3

      - name: Build for ${{ github.ref }}
        run: ./gradlew build --parallel

#      - name: Publish
#        if: ${{ github.ref == 'refs/heads/main' }}
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        run: ./gradlew publish

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          include_passed: true
          detailed_summary: true
          report_paths: '**/build/test-results/test/TEST-*.xml'

